@font-face {
  font-family: "toutiao";
  /* Project id 2661692 */
  src: url('//at.alicdn.com/t/font_2661692_tz5qfcydvdd.woff2?t=1625746940647') format('woff2'), url('//at.alicdn.com/t/font_2661692_tz5qfcydvdd.woff?t=1625746940647') format('woff'), url('//at.alicdn.com/t/font_2661692_tz5qfcydvdd.ttf?t=1625746940647') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-dianzan:before {
  content: "\e601";
}
.toutiao-gengduo:before {
  content: "\e602";
}
.toutiao-guanbi:before {
  content: "\e603";
}
.toutiao-dianzan2:before {
  content: "\e604";
}
.toutiao-fenxiang:before {
  content: "\e605";
}
.toutiao-pinglun:before {
  content: "\e606";
}
.toutiao-shouji:before {
  content: "\e607";
}
.toutiao-shoucang:before {
  content: "\e608";
}
.toutiao-lishi:before {
  content: "\e609";
}
.toutiao-dianzan1:before {
  content: "\e60a";
}
.toutiao-sousuo:before {
  content: "\e60b";
}
.toutiao-youjiantou:before {
  content: "\e60c";
}
.toutiao-shanchu:before {
  content: "\e60d";
}
.toutiao-shouye:before {
  content: "\e60e";
}
.toutiao-wode:before {
  content: "\e60f";
}
.toutiao-yuedu:before {
  content: "\e610";
}
.toutiao-shipin:before {
  content: "\e611";
}
.toutiao-wenda:before {
  content: "\e612";
}
.toutiao-yanzhengma:before {
  content: "\e613";
}
.toutiao-zuopin:before {
  content: "\e614";
}
.toutiao-wuwangluo:before {
  content: "\e615";
}
body {
  background-color: #f5f7f9;
}
input {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.app-nav-bar {
  background-color: #3296fa;
}
.app-nav-bar .van-nav-bar__title {
  color: #fff;
}
.app-nav-bar .van-icon {
  color: #fff;
}
